*{
    box-sizing: border-box;
    
}

.container{
    /* border: 1px solid black; */


    .links{

      /* display: flex;
      text-decoration: none;
      align-content: space-between;
      text-align: center;
      
      text-decoration: none;
      margin-top: 20px; */
      background: #FFFFFF;
      margin: 0px;
      padding: 0px;
    }
    
    .logo{

      display: flex;
      margin-left: 120px;
      margin-top: 20px;
      
    }

    .icons{
      display:flex;
      justify-content:space-between;
      align-items: center;
      /* float: inline-start; */
      margin-left: 750px;
      display: inline-block;
      
      
      



    }

    .icons1{
      display: flex;
      justify-content: flex-end;
     
      margin-right: 120px;

      .t5{
        text-decoration: none;
         margin-right: 50px;

      }

      .t6{
        text-decoration: none;
        margin-right: 50px;
      }

      .t7{
        text-decoration: none;
        margin-right: 50px;

      }
      .t8{


      }

      


    }

    .t1{
      text-decoration: none;
      margin-right: 70px;
      
    }

    .t2{
      text-decoration: none;
      margin-right: 70px;
     
    }

    .t3{
      text-decoration: none;
      margin-right: 70px;
      

    }

    .t4{
      text-decoration: none;
      

      

    }
}

.page2{
    /* border: 1px solid red; */
    background-image: url(../yellow/page2/scandinavian-interior-mockup-wall-decal-background\ 1.svg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 750px;
    margin-left: 80px;
    margin-right: 80px;
  
    

  .bkimg{
    

  }

  .aimg{
    
    /* border:2px solid green; */
    background-color: #FFF3E3;
    width: 660px;
    margin-right: 450px;
    margin-bottom: 150px;
    height: 600px;
    margin: 450px;
    
    
    
    

    


  }

  .bimg{

  }

  .blb{
   
    height: 24px;
    margin-top: 190px;
    margin-left: 20px;
    font-size: 20px;



  }

  .nlb{
    color: #B88E2F;
    margin-left: 20px;
    font-size: 50px;
    font-weight: 800;



  }

  .mlb{
    margin-left: 20px;
    font-size: 20px;


  }

  .brw{

    border-radius:6px;
    background:#B88E2F;
    padding: 25px;
    width: 200px;
    color: #FFFFFF;
    margin-right: 10px;
    align-content: space-between;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.page3{
     /* border: 1px solid blue; */
     /* display: flex; */
     
     

     .l1{
      font-weight: 700px;
      font-size: 32px;
      text-align: center;
      

     }
     
     .ll1{
      
      

        

      

     }

     .l2{
      font-weight: 400px;
      font-size: 20px;
      text-align: center;

     }

     .l3{
      /* float: left; */
      /* border-radius: 30px; */
      /* display: grid; */
      
      

     }

     .l4{
      
      /* display: flex; */
      /* border-radius: 30px; */
      /* margin-left: 550px; */
      
      
      
      

     }

     .l5{
      /* margin-left: 550px; */
      

     }



}

.page4{
    /* border: 1px solid brown; */
    /* width: 1236px;
    height: 1084px; */
    /* top: 1610px;
    left: 102px; */
    margin-left: 80px;
    margin-right: 80px;
    display:grid;




    .bbb1{
      font-weight: 700px;
      font-size: 40px;
      text-align: center;
      
     }
     
     .bucket{
      margin-left:150px;
     }

    .b1a{
      margin-left: 150px;
      

    }

    .b2{

    }

    .b3{

    }

    .b4{

    }

    .b5{
      margin-left: 2px;
      

    }

    .b6{

    }

    .b7{

    }

    .b8{

    }

    .vl{
      width: 245px;
      height: 48px;
      margin-top: 20px; 
      margin-left: 500px;
      
     background :white;
     padding: 10px;
     color: #B88E2F;
     


    }
}


.page5{
    /* border: 1px solid yellow; */
    background-color: #FCF8F3;
    display: flex;
    padding: 50px;



   .pic14{
    /* border: 4px solid red; */
    width: 460px;

   }

   .pic23{

   }

   .s{
    width: 404px;
    height: 582px;
    top: 2807px;
    left: 564px;
    margin-left: 20px;



   }

   .ss{
    width: 372px;
    height: 486px;
    top: 2807px;
    left: 992px;
    margin-left: 20px;
    margin-bottom: 100px;



   }

   .sss{
    margin-bottom: 100px;


   }

   .k{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    margin-left: 50px;
    margin-top: 150px;


   }

   .kl{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 50px;
    


   }

   .klm{
    width: 176px; 
    height: 48px;
    top: 3162px;
    margin-left: 50px;
    color: #FFFFFF;
    background: #B88E2F;



   }




}

.page6{
    /* border: 1px solid green; */
    display: flexbox;

    .vb{

    }

    .bg{
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600px;
      margin-bottom: 1px;
      text-align: center;


    }
    .bh{
      margin-top: 1px;
      font-family: Poppins;
      font-size: 40px;
      font-weight: 700;
      
      text-align: center;



    }

  .cd{

  }

  .cf{

  }

  .cg{

  }

  .ch{

  }

  .cj{

  }

  .ck{

  }

  .cl{

  }

  .cp{

  }

  .co{

    
  }


}

.page7{
    /* border: 1px solid orangered; */

    .plastic{
      display: flex;
      height: 400px;

    }

    .lnk{
      text-decoration: none;
      /* margin-top: 10px; */
      margin-left: 100px;

    }

    .r1{
      margin-top: 40px;
      margin-left: 100px;

    }

    .ty{
       margin-top: 60px;
       color:#9F9F9F;

    }

    .r2{
      display:flex;
      text-decoration: none;
      margin-top: 40px;
      margin-left: 100px;


    }

  .rr2{
      text-decoration: none;
      /* margin-top: 40px; */
      margin-left: 220px;


  }

  .rrr2{
      text-decoration: none;
      /* margin-top: 40px; */
      margin-left: 200px;
      

  }

  .vr{

  }

  .vt{


  }

  .br{


  }

  .bt{
    /* margin-left: 250px; */
    


  }

    .lst{
      margin-top: 100px;

    }


}