*{
    box-sizing: border-box;
    
}
body{
  margin: 0px auto;
}

main{
  width: 1440px;
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-around;
  height: 84px;
  align-items: center;
}

.icons{
  display: flex;
  /* border: 1px solid; */
  width: 464px;
  justify-content: space-between;

  a{
    text-decoration: none;
    color: black;
  }
}

.icons1{
  /* border: 2px solid; */
  width: 250px;
  display: flex;
  justify-content: space-between;
  

}
.page2{
    /* border: 1px solid red; */
    background-image: url(../yellow/page2/scandinavian-interior-mockup-wall-decal-background\ 1.svg);
    display: flex;
    justify-content:end;
    align-items: end;
    height: 750px;
    /* margin-left: 80px; */
    /* margin-right: 80px; */

  .aimg{
    
    /* border:2px solid green; */
    background-color: #FFF3E3;
    width: 660px;
    margin-right: 100px;
    margin-bottom: 50px;
    height: 600px;
    /* margin: 450px; */

  }

  .blb{
   
    height: 24px;
    margin-top: 130px;
    margin-left: 20px;
    font-size: 20px;
  }

  .nlb{
    color: #B88E2F;
    margin-left: 20px;
    font-size: 50px;
    font-weight: 800;
  }

  .mlb{
    margin-left: 20px;
    font-size: 20px;

  }

  .brw{

    border-radius:6px;
    background:#B88E2F;
    padding: 25px;
    width: 200px;
    color: #FFFFFF;
    margin-right: 10px;
    align-content: space-between;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.page3{
    /* border: 1px solid blue; */
    /* display: flex; */
    width: 100%;
     
     .l1{
      font-weight: 700px;
      font-size: 32px;
      text-align: center;

     }
     
     .ll1{
      display: flex;
      justify-content: space-evenly;

     }
     
     .lbg{
      display: flex;
      justify-content: space-around;
    }
     .l2{
      font-weight: 400px;
      font-size: 20px;
      text-align: center;

     }

     .l3{
      /* float: left; */
      /* border-radius: 30px; */
      /* display: grid; */
      /* margin-right: 300px; */
      margin-left: 10px;
     }

     .l4{
      /* display: flex; */
      /* border-radius: 30px; */
      margin-left: 140px;
      margin-right: 140px;
     }
}

.page4{

  .bucket{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1236px;
  }
    

    .bbb1{
      font-weight: 700px;
      font-size: 40px;
      text-align: center;
     }
     
    .vl{
      width: 245px;
      height: 48px;
      margin-top: 20px; 
      margin-left: 500px;
      
     background :white;
     padding: 10px;
     color: #B88E2F;
    }

    .bucket{
      display: flex;
      align-content: space-between;
    }
    }

   .page5{
    /* border: 1px solid yellow; */
    background-color: #FCF8F3;
    display: flex;
    padding: 50px;

   .pic14{
    /* border: 4px solid red; */
    width: 460px;
   }

   .s{
    width: 404px;
    height: 582px;
    top: 2807px;
    left: 564px;
    margin-left: 20px;
   }

   .ss{
    width: 372px;
    height: 486px;
    top: 2807px;
    left: 992px;
    margin-left: 20px;
    margin-bottom: 100px;
   }

   .sss{
    margin-bottom: 100px;
   }

   .k{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    margin-left: 50px;
    margin-top: 150px;
   }

   .kl{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 50px;
   }

   .klm{
    width: 176px; 
    height: 48px;
    top: 3162px;
    margin-left: 50px;
    color: #FFFFFF;
    background: #B88E2F;
   }
}

.page6{
    /* border: 1px solid green; */
    display: flexbox;

    .bg{
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600px;
      margin-bottom: 1px;
      text-align: center;
    }
    .bh{
      margin-top: 1px;
      font-family: Poppins;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }
    .mmmm{
     position: relative;
    }

  .cf{
    position: relative;

  }

  .cg{
    position: relative;
  }

  .ch{
    position: relative;
  }

  .cj{
    /* position: absolute; */
     align-items: end;
  }

  .ck{
    position: relative;
  }

  .cl{
    position: relative;
  }

  .cp{
    position: relative;
  }

  .co{
    position: relative; 
  }
  }

.page7{
    

    .plastic{
      display: flex;
      height: 400px;
    }

    .lnk{
      text-decoration: none;
      /* margin-top: 10px; */
      margin-left: 100px;
    }

    .r1{
      margin-top: 40px;
      margin-left: 100px;
    }

    .ty{
       margin-top: 60px;
       color:#9F9F9F;

    }

    .r2{
      display:flex;
      text-decoration: none;
      margin-top: 40px;
      margin-left: 100px;

      

      dr{
        color:gray;
        text-decoration: none;
      }
      }
    }

  .rr2{
      text-decoration: none;
      /* margin-top: 40px; */
      margin-left: 220px;
  }

  .rrr2{
      text-decoration: none;
      /* margin-top: 40px; */
      margin-left: 200px;
  }

  .vr{
        color:gray;
        text-decoration:none;
  }
  .br{
        color:gray;
        text-decoration:none;
  }

  .lst{
    margin-top: 100px;
  }
